@import url('https://fonts.googleapis.com/css?family=Audiowide|Special+Elite&display=swap');



#colorChangerButtonText
{
    padding-left: 5px;
}

#textInput
{
    border: 2px solid white;
    color:white;
    font-size: medium;
    padding-left: 5px;
}

.list
{
    min-height: 70vh;
}

.navbar-brand>a
{
    font-family: 'Audiowide';
}

#quote
{
    font-family: 'Special Elite';
    
}

ul#currentList li:hover
{
    color: darkcyan;
    background-color: azure;
    
}

del
{
    padding-left: 16px;
    padding-top: 8px;
}